
/*-----------------------------------*\
  $TYPOGRAPHY
\*-----------------------------------*/

h1, .alpha {
  margin-bottom: 1.5rem;

  font-size: 3rem;
  font-weight: 100;
  line-height: 1;
  letter-spacing: -.05em;
}

h2, .beta {
  margin-bottom: .75rem;

  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
}

@media (min-width: 650px) {
  .mega {
    font-size: 6rem;
    line-height: 1;
  }
}

.subhead, .meta {
  color: #7b8993;
}

.promo {
  text-align: center;
}

p, hr, form {
  margin-bottom: 1.5rem;
}

hr {
  border: none;
  margin-top: -1px;
  height: 1px;
  background-color: #c0c8c9;
  background-image: -webkit-linear-gradient(0deg, #fff, #c0c8c9, #fff);
}
/* -------------------- */
/*#navigation,.navbar .navbar-default{
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/531636/pexels-photo-531636.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");
  background-image: url("https://images.pexels.com/photos/531636/pexels-photo-531636.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");
}*/
.navbar-custom{
  background: linear-gradient(rgba(255,255,255,0),rgb(255,255,255), rgb(255,255,255), rgba(255,255,255,0)), url("https://images.pexels.com/photos/531636/pexels-photo-531636.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");

}
.navbar-default .navbar-nav > li.active > a{
    color: #5900c7;
    background-color: rgba(121, 121, 121, 0.22);
}
.navbar-default .navbar-nav>.active>a{
    color:blue;
}
.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/531636/pexels-photo-531636.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 100%;
    width: 100%;
    
}
.navbar-custom1
{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/531636/pexels-photo-531636.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #f0f0f5;
    height: 100%;
    width: 100% !important;

}

 